<h2 mat-dialog-title>ProjectDetails</h2>
<mat-dialog-content>
    <p><strong>Project Id:</strong> {{data.projectId}}</p>
    <p><strong>Name:</strong> {{data.name}}</p>
    <p><strong>Disctiption:</strong> {{data.discription}}</p>
    <p><strong>Start Date:</strong> {{data.startDate}}</p>
    <p><strong>End Date:</strong> {{data.endDate}}</p>
    <p><strong>Client ID:</strong> {{data.clientId}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close class="btn btn-dark btn-sm">Close</button>
</mat-dialog-actions>