<h2 mat-dialog-title>Task Details</h2>
<mat-dialog-content>
    <p><strong>Task Id:</strong> {{data.taskId}}</p>
    <p><strong>Name:</strong> {{data.name}}</p>
    <p><strong>Disctiption:</strong> {{data.discription}}</p>
    <p><strong>Start Date:</strong> {{data.startDate}}</p>
    <p><strong>End Date:</strong> {{data.endDate}}</p>
    <p><strong>Project ID:</strong> {{data.projectId}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close class="btn btn-dark btn-sm">Close</button>
</mat-dialog-actions>