<div class="container">
    <!-- this is for projects -->


    <div class="my-5 w-100 d-flex justify-content-between">
        <button class="btn btn-success px-3" (click)="setViewProjectVisible()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="4"/>
            <path d="M2 12s5-8 10-8s10 8 10 8s-5 8-10 8s-10-8-10-8"/>
          </svg>View
            Projects</button>
            <button class="btn btn-info" (click)="setCreateProjectVisible()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect x="3" y="4" width="18" height="16" rx="2" ry="2"/>
                <line x1="12" y1="2" x2="12" y2="22"/>
                <line x1="20" y1="12" x2="4" y2="12"/>
              </svg>Create
                Projects</button>    
     </div>

    <!-- to create new project -->
    <app-createproject *ngIf="!viewProject"></app-createproject>

    <!-- to view the project -->
    <app-listproject (deleteData)="deleteProject($event)" (myEvent)="viewProjecDetails($event)"
        (modifyData)="modifyProjectDetils($event)" *ngIf="viewProject"></app-listproject>
</div>